form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

button[type="submit"] {
  background-color: #17882c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0f651b;
}

button[type="submit"]:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}