.admin-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f4f4f9;
  flex-grow: 1;
}

.admin-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid #e0e0e0;
  flex-grow: 1;
  height: 100%;
}
