.admin-register-container {
  width: 350px;
  font-size: 0.83em;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin-register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.admin-register-container input, 
.admin-register-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.admin-register-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.admin-register-container button[type="submit"]:hover {
  background-color: #45a049;
}
