.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.form-field label {
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field input[type="date"],
.form-field select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form-field input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container {
  padding-left: 20px;
  display: grid;
  align-items: auto;
}

.form-field input[type="radio"] {
  margin-right: 10px;
}

.form-field select {
  appearance: none;
  background-color: white;
}

.form-field select:focus,
.form-field input[type="text"]:focus,
.form-field input[type="email"]:focus,
.form-field input[type="password"]:focus,
.form-field input[type="date"]:focus {
  border-color: #17882c;
  outline: none;
}

.form-field input,
.form-field select {
  margin-left: 20px;
  max-width: 300px;
}