.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  max-width: 95vw;
}

.graph-container {
  font-family: "open_sansextrabold",'Open Sans',Arial,Helvetica,sans-serif;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.3);
}

.filters-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 2px solid #17882c; 
  max-width: 250px; 
}

.select-container {
  display: grid;
  margin-bottom: 20px;
  overflow: clip;
}

.select-container select {
  padding: 2px;
  border: 1px solid #17882c;
  border-radius: 2px;
  font-size: 0.75em;
  cursor: pointer;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
}

.select-container label {
  margin-bottom: 5px;
  justify-self: left;
}

.select-container Button {
  max-width: 60px;
  max-height: 50px;
}

.download-button-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.select-container Button label {
  background-color: grey;
}

.year-range-container {
  margin: 0 15px;
}

.update-button {
  padding: 10px 20px;
  background-color: #17882c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.chart-container {
  width: 65vw;
  flex: 3;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-type-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.chart-type-button {
  cursor: pointer;
  color: #17882c;
}

.chart-type-button.disabled {
  cursor: not-allowed;
  color: grey;
}

.loading {
  position: absolute;
  font-size: 20px;
  color: #17882c;
}

.tiny-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; 
  width: 100%;  
  max-width: 250px;  
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.value-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.value-box:first-child {
  border-bottom: 1px solid #ddd; 
}

.value-label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
}

.value-number {
  font-size: 2em; 
  font-weight: bold;
  margin-bottom: 10px;
}

.value-info {
  font-size: 0.8em; 
  color: #666;
}

.min-value{
  color: #381413;
}

.max-value{
  color: #00420c;
}

.value-info div {
  margin-top: 2px;
}

.value-box:first-child {
  background-color: #dff0d8; 
}

.value-box:last-child {
  background-color: #f2dede; 
}