.sidebar {
  position: relative;
  top: 0;
  left: 0;
  max-width: 178px;
  background-color: #00420c;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 0.9em;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar a.active {
  background-color: #002e08;
  color: white;
}