.footer {
    font-family: "open_sansextrabold",'Open Sans',Arial,Helvetica,sans-serif;
    background-color: #00420c;
    color: white;
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0 10px 0;
    margin-top: auto;
}

.footer p {
    font-size: 1em;
    text-align: center;
    margin: 0;
}