.table-container {
  width: 100%;
  overflow-x: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: "open_sansextrabold",'Open Sans',Arial,Helvetica,sans-serif;
  background-color: #f9f9f9;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}

th {
  background-color: #17882c;
  text-transform: uppercase;
  font-weight: bold;
}

td {
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }

  th, td {
    padding: 8px;
  }
}

.legend-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.legend-container li {
  display: flex;
  align-items: center;
}

.legend-color-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  border: 1px solid black;
}