main.content {
    font-family: "open_sansextrabold",'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #00420c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    max-height: fit-content;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.box {
    width: 100%;
    height: auto; 
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.3);
}