.header {
  font-family: "open_sansextrabold",'Open Sans',Arial,Helvetica,sans-serif;
  background-color: #17882c;
  background-image: radial-gradient(ellipse at center,#17882c 1%,#00510f 100%);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: initial;
  z-index: 1000;
  padding: 14px 0 0 0;
  justify-content: space-between; 
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.course-selector {
  margin-left: 20px; 
}

.title {
  padding-left: 20px;
  margin-top: 10px;
  flex-grow: 1; 
}

.title h1 {
  cursor: pointer;
  font-size: 2.75em;
  line-height: .8em;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.title-container:hover {
  cursor: pointer;
}

.username {
  font-size: 20px; 
  margin: 0;
  padding: 15px 10px;
  text-align: right; 
  flex-grow: 0;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}

.bar {
  border-bottom: 2px solid #00420c;
  background-color: #00420c;
  width: 100%;
  height: 40px; 
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  flex-shrink: 0; 
}

.bar Button {
  margin-right: 10px;
  padding: 8px 12px;
  font-size: 0.85em;
}


.user-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.bar p {
  margin-right: 10px;
  font-weight: 600;
  color: white;
}

.image-container {
  display:flex;
  align-items: center;
  background-color:white;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}


.header-image {
  width: 265px;
  height: 95px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .image-container {
    display: none;
  }
}